Schema/RozhraniDL-Lekis-XML-v4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://lekis.cz/RozhraniDL-Lekis-XML-v4" xmlns="http://lekis.cz/RozhraniDL-Lekis-XML-v4">
	<xs:annotation>
		<xs:documentation>
			<![CDATA[
			**XML schéma dodacího listu nebo převodky ve formátu Lekis XML**

			Umožňuje validaci obsahu elektronických dokladů (dodacích listů a převodek) používaných při komunikaci mezi SW Lekis pro Windows (LpW) a dalšími systémy (provozovanými dodavateli lékárny, odběrateli lékárny a dalšími subjekty).
			]]>
		</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="verzeRozhraniType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Verze XML rozhraní**

				Toto XML schéma je určeno pro validaci dokumentů s uvedeným atributem __verzeRozhrani__ u kořenového elementu s __hodnotou 4__.

				Dokumenty v tomto rozhraní by měly mít korektně uvedený XML namespace odpovídající XSD schématu (viz příklady). Parser v LpW je ve validaci o něco volnější než samotné XML schéma. Je tak zaručeno, že dokumenty zvalidované XSD schématem půjdou určitě načíst do LpW.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="[4]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsignedIntNullableType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Celé číslo bez znaménka, umožňuje prázdnou hodnotu]]>
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:unsignedInt">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="bitType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Logická hodnota 0/1]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="[0-1]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bitNullableType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Logická hodnota 0/1, umožňuje prázdnou hodnotu]]>
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="bitType">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="decimalNullableType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Číslo s desetinnou čárkou, umožňuje prázdnou hodnotu]]>
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:decimal">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="dateTimeNullableType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Datum a čas**

				Umožňuje prázdnou hodnotu.

				Uvedena jako datum a čas, tj. exspirace například "do 31.1.2016 včetně" se uvádí jako 2016-01-31T00:00:00.000 nebo obdobně v jiných variantách zápisu datového typu datum a čas.
				https://www.w3.org/TR/xmlschema-2/#dateTime
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:dateTime">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="icoType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Identifikační číslo osoby (IČO)**

				Umožňuje prázdnou hodnotu.

				Běžně jde o unikátní osmimístné identifikační číslo právnické osoby, podnikající fyzické osoby nebo organizační složky státu.

				**POZOR!**

				V LpW je možné zadat do pole IČO obchodního partnera až 15 číslic. Při exportu převodky z LpW je také element __IC__ použit pro interní číslo / číslo pobočky, která zboží vydala na převodku.
				Proto schéma obsahuje pouze zjednodušenou (volnou) validaci zahrnujíci tyto případy.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3,15}|.{0}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dicType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Daňové identifikační číslo (DIČ) / identifikace daňového subjektu**

				Umožňuje prázdnou hodnotu.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}\d{8,10}|.{0}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="suklType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Registrační kód SÚKLu nebo kód ZP VZP přípravku**

				Umožňuje prázdnou hodnotu.

				Představuje 7 čísel, případně doplněných zleva nulami.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{7}|.{0}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="suklNeboTlType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Registrační kód SÚKLu nebo kód ZP VZP přípravku nebo kód Taxa Laborum**

				Umožňuje prázdnou hodnotu.

				Představuje až 7 čísel, případně doplněných zleva nulami.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,7}|.{0}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pdkType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Kód číselníku PDK**

				Umožňuje prázdnou hodnotu.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{7,20}|.{0}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gtinType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Kód GTIN**

				Umožňuje prázdnou hodnotu.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{14}|.{0}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sskType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Skupina skladové karty v LpW**

				Podporovány jsou hodnoty s následujícími významy:

				* 1 - HVLP
				* 2 - IVLP
				* 3 - PZT
				* 4 - Ostatní
				* 5 - Připravované
				* 6 - Registrované
				* 7 - Suroviny
				* 8 - Obaly
				* 11 - Veterinária
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="[1-8]|11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typPripravyType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Typ přípravy**

				Podporovány jsou hodnoty s následujícími významy:

				* IPL - jde o běžnou přípravu
				* IPLKonopi - jde o přípravu konopí
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="IPL|IPLKonopi"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="predatZPJakoType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Způsob předání zdravotní pojišťovně**

				Podporovány jsou hodnoty s následujícími významy:

				* 1 - HVLP, Registrované
				* 2 - IVLP
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="[1-2]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typUhradyZPType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Typ úhrady zdravotní pojišťovnou**

				Podporovány jsou hodnoty s následujícími významy:

				* 1 - Nehrazeno
				* 2 - Hrazeno procentuálně
				* 3 - Hrazeno plně, HVLP dle číselníku
				* 4 - Hrazeno plně, HVLP také hrazeno plně
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="[1-4]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="druhUhradyZPType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Druh úhrady zdravotní pojišťovnou**

				Podporovány jsou hodnoty s následujícími významy:

				* 1 - První úhrada
				* 2 - Druhá úhrada
				* 3 - Třetí úhrada
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="[1-3]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typPolozkyPripravyType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Typ položky přípravy**

				Podporovány jsou hodnoty s následujícími významy:

				* 1 - Surovina
				* 2 - Obal
				* 3 - Taxalaborum
				* 4 - Přirážka
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="[1-4]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kodZPType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Kód zdravotní pojišťovny, například 111 pro VZP]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="iczType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Identifikační číslo lékaře]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}|\d{6,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rodneCisloType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Číslo pojištěnce (rodné číslo)]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}([05][1-9]|[16][0-2])([012][0-9]|3[01])[0-9]{3,4}|.{0}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="opravnyDanovyDokladType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Příznak opravného daňového dokladu**

				Podporovány jsou hodnoty s následujícími významy:

				* 0 - jde o _běžný_ daňový doklad
				* 1 - jde o _opravný_ daňový doklad
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="subjektType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Obchodní partner]]>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nazev" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Název obchodního partnera]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nazev2" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Doplněk názvu obchodního partnera]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IC" type="icoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Identifikační číslo osoby (IČO)**

						U převodky je u dodavatele v IČ uvedeno interní číslo / číslo pobočky, která zboží vydala na převodku.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DIC" type="dicType" minOccurs="0"/>
			<xs:element name="nakladoveStredisko" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Nákladové středisko**

						Pro exportované dodací listy uvedeno u odběratele pro účely účetnictví.
						Pro přijímané dodací listy může být uvedeno u příjemce pro předvýběr oddělení obchodního partnera při použití _převedení dokladu do výdeje na fakturu / žádanku_.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kodTypuVydejky" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Kód typu výdeje s odloženou splatností**

						Pro přijímané dodací listy může být uvedeno u příjemce pro předvýběr skupiny vydaných dodacích listů nebo skupiny žádanek při použití _převedení dokladu do výdeje na fakturu / žádanku_.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interniCislo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Číslo pobočky obchodního partnera**

						Slouží pro rozlišení obchodního partnera se shodným IČO / DIČ.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cenaType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Cena s DPH, cena bez DPH a sazba DPH]]>
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="cenaSDPH" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena s DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cenaBezDPH" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena bez DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sazbaDPH" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Sazba DPH v % platná v DUZP (datum uskutečnění zdanitelného plnění)]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="cenaNullableType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Cena s DPH, cena bez DPH a sazba DPH, umožňuje prázdné hodnoty]]>
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="cenaSDPH" type="decimalNullableType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena s DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cenaBezDPH" type="decimalNullableType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena bez DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sazbaDPH" type="decimalNullableType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Sazba DPH v % platná v DUZP (datum uskutečnění zdanitelného plnění)]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="cenaBezDPHType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Cena bez DPH, bez určení sazby DPH**

				Použití pro výrobní cenu, suroviny a podobně, kde není třeba určovat sazbu DPH.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="cenaBezDPH" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena bez DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="cenaBezDPHNullableType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Cena bez DPH, bez určení sazby DPH, umožňuje prázdné hodnoty**

				Použití pro výrobní cenu, suroviny a podobně, kde není třeba určovat sazbu DPH.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="cenaBezDPH" type="decimalNullableType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena bez DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="cenaSDPHType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Cena s DPH, bez určení sazby DPH**

				Použití pro úhradu ZP a podobně, kde není třeba určovat sazbu DPH.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="cenaSDPH" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena s DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="cenaSDPHNullableType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Cena s DPH, bez určení sazby DPH, umožňuje prázdné hodnoty**

				Použití pro úhradu ZP a podobně, kde není třeba určovat sazbu DPH.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="cenaSDPH" type="decimalNullableType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Cena s DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="soucetProdCenType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Součet prodejních cen a rozpis DPH]]>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="prodejniCena" type="cenaNullableType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Prodejní cena pro konkrétní sazbu DPH, nepovinná]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cenaBezDPH" type="decimalNullableType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Celkem prodejní cena bez DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cenaSDPH" type="decimalNullableType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Celkem prodejní cena s DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="soucetNakCenType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[Součet nákupních cen a rozpis DPH]]>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nakupniCena" type="cenaType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Nákupní cena pro konkrétní sazbu DPH, není povinná]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="cenaBezDPH" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Celkem nákupní cena bez DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cenaSDPH" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Celkem nákupní cena s DPH]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="polozkaPripravyType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Položka přípravy**

				Obsahuje informace o položce přípravy.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sukl" type="suklNeboTlType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Kód SÚKLu nebo kód VZP ZP nebo kód Taxa Laborum**

						Slouží k lepší identifikaci přípravku.
						Při jeho uvedení je důležitý také element __skupina__, který určuje, zda se jedná o HVLP, IVLP, PZT, Registrované nebo Veterinária.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nazev" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Název přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sarze" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Šarže přípravku, slouží k rozlišení dávky, např. při stahování vadné série]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jednotka" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Jednotka množství (ks, g, ml)]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mnozstvi" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Použité množství přípravku do přípravy. Vyžadovaná hodnota.]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uhradaZP" type="cenaSDPHType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Úhrada zdravotní pojišťovny]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typPolozkyPripravy" type="typPolozkyPripravyType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Typ položky přípravy**

						Viz popis použitého datového typu.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skupina" type="sskType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Skupina skladové karty v LpW**

						Viz popis použitého datového typu.
						Při identifikaci přípravku kódem SÚKLu nebo kódem VZP ZP je tento údaj důležitý aby nedošlo k záměně např. HVLP / PZT.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pripravaType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Příprava**

				Obsahuje informace o připravovaném přípravku, které není možné zapsat do běžné položky dodacího listu / převodky.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typPripravy" type="typPripravyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Typ přípravy**

						Viz popis použitého datového typu.
						V případě neuvedení elementu se uvažuje výchozí hodnota `IPL`.

						Pro hodnotu `IPLKonopi` je třeba uvést také elementy `typizovaneKonopi`, `celkemKonopi` a `hrazeneKonopi`.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rodneCislo" type="rodneCisloType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Rodné číslo pacienta, kterému je přípravek určen]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kodZP" type="kodZPType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Kód ZP, SÚKLu, pod kterým se přípravek vydává, předává]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ICZLekare" type="iczType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[IČZ lékaře]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vlastniOznaceni" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Vlastní označení přípravy, číslo pro vyzvednutí pacientem]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cisloPripravy" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Číslo přípravy v systému dodavatele]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nazevPripravy" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Název přípravy, může obsahovat jméno pacienta nebo název připravovaného přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pripravil" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Jméno pracovníka, který přípravek vyrobil]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="objemSurovin" type="xs:decimal" minOccurs="0" default="0.00">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Objem surovin [ml]]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mnozstviSurovin" type="xs:decimal" minOccurs="0" default="0.00">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Množství surovin [g]]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predatZPJako" type="predatZPJakoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Způsob předání zdravotní pojišťovně**

						Viz popis použitého datového typu.
						V případě neuvedení elementu se uvažuje výchozí hodnota `2 - IVLP`.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typUhradyZP" type="typUhradyZPType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Typ úhrady zdravotní pojišťovnou**

						Viz popis použitého datového typu.
						V případě neuvedení elementu se uvažuje výchozí hodnota `3 - Hrazeno plně, HVLP dle číselníku`.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="druhUhradyZP" type="druhUhradyZPType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Druh úhrady zdravotní pojišťovnou**

						Viz popis použitého datového typu.
						V případě neuvedení elementu se uvažuje výchozí hodnota `1 - První úhrada`.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uhradaZP" type="cenaSDPHType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Výše úhrady zdravotní pojišťovny určená a upravená v okamžiku vytvoření Přípravy]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prvniUhradaZP" type="cenaSDPHType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[
						Výše první úhrady přípravy zdravotní pojišťovny. 
						Jelikož přenášená Příprava nenese veškeré informace o položkách přípravy, 
						obsahuje tento element číselníkovou hodnotu první úhrady Přípravy.
						]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="druhaUhradaZP" type="cenaSDPHType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[
						Výše druhé úhrady přípravy zdravotní pojišťovny. 
						Jelikož přenášená Příprava nenese veškeré informace o položkách přípravy, 
						obsahuje tento element číselníkovou hodnotu druhé úhrady Přípravy.
						]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="tretiUhradaZP" type="cenaSDPHType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[
						Výše třetí úhrady přípravy zdravotní pojišťovny. 
						Jelikož přenášená Příprava nenese veškeré informace o položkách přípravy, 
						obsahuje tento element číselníkovou hodnotu třetí úhrady Přípravy.
						Tato hodnota se může použít při změně úhrady na výdeji 
						]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="taxaLaborum" type="cenaBezDPHType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Cena taxa laborum]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cenaSurovin" type="cenaBezDPHType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Cena surovin]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prirazka" type="cenaBezDPHType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Cena přirážky]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typizovaneKonopi" type="bitType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Typizované konopí**

						Hodnoty
						* 0 - nejedná se o typizované konopí
						* 1 - jedná se o typizované konopí
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="celkemKonopi" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[Celkové množství použitého konopí do přípravy]]>
                    </xs:documentation>
                </xs:annotation>
			</xs:element>
			<xs:element name="hrazeneKonopi" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[Množství hrazeného konopí v přípravě]]>
                    </xs:documentation>
                </xs:annotation>
			</xs:element>
			<xs:element name="polozkyPripravy" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Položky přípravy**

						Obsahuje informace o položkách přípravy.
						Tyto údaje jsou důležité při práci s touto položkou dodacího listu / převodky v rámci eRp (například její výdej na eRp).
						]]>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="polozkaPripravy" type="polozkaPripravyType">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Obsahuje informace o položce přípravy.]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="polozkaType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Položka dokladu**

				Pro párování se skladovými kartami v LpW musí být uvedeno aspoň jedno z polí:

				* IdSkladoveKarty
				* sukl + skupina
				* pdk
				* gtin
				* kodDodavatele
				* carovyKod

				Kódy se pro párování používají v uvedeném pořadí.

				Jinak je položka importována do LpW jako nespárovaná a její spárování musí provést uživatel ručně.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sukl" type="suklType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Kód SÚKLu nebo kód VZP ZP**

						Slouží k lepší identifikaci přípravku.
						Při jeho uvedení je důležitý také element __skupina__, který určuje, zda se jedná o HVLP, IVLP, PZT, Registrované nebo Veterinária.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pdk" type="pdkType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Kód PDK, slouží k lepší identifikaci přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gtin" type="gtinType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Kód GTIN (vyskytující se v FMD 2D kódu na balení přípravku), slouží k lepší identifikaci přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kodDodavatele" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Kód dodavatele, slouží k lepší identifikaci přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdPolozky" type="unsignedIntNullableType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**ID položky skladové karty v LpW**

						Informativní údaj.
						Má smysl pouze u dokladů exportovaných z LpW, při importu dokladů do LpW se nijak nezpracovává.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdSkladoveKarty" type="unsignedIntNullableType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[ID skladové karty v LpW]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nazev" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Název přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skupina" type="sskType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Skupina skladové karty v LpW**

						Viz popis použitého datového typu.
						Při identifikaci přípravku kódem SÚKLu nebo kódem VZP ZP je tento údaj důležitý aby nedošlo k záměně např. HVLP / PZT.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mnozstvi" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Dodané množství přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sarze" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Šarže přípravku, slouží k rozlišení dávky, např. při stahování vadné série]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exspirace" type="dateTimeNullableType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Exspirace (minimální trvanlivost) přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="certifikat" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Certifikát (atest) přípravku u surovin]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="priprava" type="pripravaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Rozšiřující informace pro připravované přípravky]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vyrobniCena" type="cenaBezDPHNullableType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Výrobní cena přípravku bez DPH]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nakupniCena" type="cenaType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Nákupní cena přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prodejniCena" type="cenaNullableType">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Prodejní cena přípravku vypočítaná / doporučená dodavatelem]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recyklacniPrispevek" type="cenaBezDPHType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[Výše recyklačního příspěvku bez DPH]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="externiSkladovaCena" type="cenaBezDPHNullableType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Externí skladová cena bez DPH]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carovyKod" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Čárový kód přípravku, slouží k lepší identifikaci přípravku]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carovyKodPolozkySkladoveKarty" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Čárový kód položky skladové karty přípravku**

						Informativní údaj.
						Má smysl pouze u dokladů exportovaných z LpW, při importu dokladů do LpW se nijak nezpracovává.
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sarzeOznacenaFMD" type="bitNullableType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Zda je šarže označena FMD 2D kódem**

						Hodnoty
						* 0 - není označena FMD 2D kódem
						* 1 - je označena FMD 2D kódem
						* prázdno - není známo, zda je šarže označena FMD 2D kódem
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sklademPred20190209" type="bitNullableType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[
						**Zda byla šarže skladem u dodavatele před 9.2.2019**

						Hodnoty
						* 0 - šarže nebyla skladem u dodavatele před 9.2.2019 nebo to není známo
						* 1 - šarže byla skladem u dodavatele před 9.2.2019
						* prázdno - shodný význam jako 0
						]]>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="pozice" type="xs:unsignedInt">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Pořadí položky dokladu]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="dokladType">
		<xs:sequence>
			<xs:element name="hlavicka">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dodavatel" type="subjektType">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Dodavatel zboží]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="odberatel" type="subjektType">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Odběratel zboží]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="prijemce" type="subjektType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[
									**Konečný příjemce zboží**

									Identifikuje obchodního partnera, kterému bude zboží vydáno.

									Tento obchodní partner bude předvybrán v dialogu _převedení dokladu do výdeje na fakturu / žádanku / převodku_, podle IČ / DIČ a typu výdeje s odloženou splatností.
									V případě _převádění dokladu do výdeje na fakturu / žádanku_ bude také předvybráno oddělení tohoto obchodního partnera, podle nákladového střediska.
									]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="oznaceni" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Číslo dodacího listu / převodky, stanovuje dodavatel]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cisloObjednavky" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Číslo objednávky, na základě které bylo dodáno zboží na tomto dodacím listu]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="pocetPolozek" type="xs:unsignedInt">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Počet položek dokladu, slouží pro kontrolu správnosti informací uvedených v dokladu]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="idSkladu" type="unsignedIntNullableType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[
									**ID výchozího skladu pro výdej v LpW**

									Informativní údaj.
									Má smysl pouze u dokladů exportovaných z LpW, při importu dokladů do LpW se nijak nezpracovává.
									]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="datumVytvoreni" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Datum a čas vytvoření / vystavení dokladu]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="poznamka" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Poznámka, informace, kterou je možné sdělit cílovému subjektu]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="soucetNakupnichCen" type="soucetNakCenType">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Součet nákupních cen, slouží pro kontrolu správnosti informací uvedených v dokladu]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="soucetProdejnichCen" type="soucetProdCenType">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Součet prodejních cen, slouží pro kontrolu správnosti informací uvedených v dokladu]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="polozky">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Položky dodacího listu / převodky]]>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="unbounded" name="polozka" type="polozkaType">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[Položka dodacího listu / převodky]]>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="opravnyDanovyDoklad" type="opravnyDanovyDokladType">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Příznak, zda se jedná o opravný daňový doklad]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="verzeRozhrani" type="verzeRozhraniType" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Verze rozhraní dodacího listu / převodky]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="verzeLpW" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Verze LpW, která byla použita při exportu dokladu]]>
		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="datumExportu" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[Datum a čas exportu dokladu]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="dodaciList" type="dokladType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Dodací list**

				Jedná se o elektronickou verzi vytištěného dodacího listu.
				Používá se ke komunikaci mezi různými podnikatelskými / daňovými subjekty.
				Může být použit také jako opravný daňový doklad / dobropis.

				V LpW se jedná o dodací list přijatý (modul Příjem), dodací list vydaný (modul Výdej na fakturu), žádanku (modul Výdej na žádanku).

				Prodejní ceny uvedené v dokladu jsou chápány jako informativní či doporučené hodnoty, jejich použití závisí na nastavení u obchodního partnera v LpW či na rozhodnutí uživatele.
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="prevodka" type="dokladType">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				**Převodka**

				Jedná se o elektronickou verzi vytištěné převodky.
				Používá se ke komunikaci v rámci jednoho podnikatelského subjektu.

				V LpW se jedná o převodku přijatou (modul Převodky - příjem), převodku vydanou (modul Převodky - výdej).

				Prodejní ceny uvedené v dokladu jsou chápány jako informativní či doporučené hodnoty, jejich použití závisí na nastavení u obchodního partnera v LpW či na rozhodnutí uživatele.
				]]>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
